html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 1px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Play', sans-serif;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: rem($containerWidth);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}