$containerWidth: 915px;
$baseFontSize: 18px;

//breakpoints
$tablets: 785px;
$phones: 500px;

// normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.scss');
@import './media.scss';

// setups
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');;
@import './layout.scss';

// components
@import './components/hero.scss';
@import './components/header.scss';
@import './components/btn.scss';
@import './components/features.scss';
@import './components/section.scss';
@import './components/headline.scss';
@import './components/benefits.scss';
@import './components/benefit.scss';
@import './components/reviews.scss';
@import './components/interactive-avatar.scss';
@import './components/form.scss';
@import './components/order.scss';
@import './components/radio.scss';
@import './components/fixed-menu.scss';
@import './components/hamburger.scss';
@import './components/team.scss';
@import './components/member.scss';