.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
    justify-content: center;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(24px);
}

.benefit__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: rem(24px);
  margin-bottom: rem(7px);

  @include tablets {
    margin-bottom: rem(18px);
  }

  @include phones {
    padding-left: rem(28px);
    margin-bottom: rem(4px);
    margin-top: rem(10px);
  }
}

.benefit__desc {
  padding: rem(0px) 13%;
  color: #666666;
  font-size: $baseFontSize - 2px;
  line-height: 1.2;

  @include tablets {
    padding: rem(0px) 6%;
  }

  @include phones {
    padding: 0rem 8%;
  }
}