.btn {
  font-size: rem($baseFontSize) - rem(2px);
  padding: rem(18px) rem(40px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  font-weight: bold;
  border: none;

  @include tablets {
    padding: rem(23px) rem(45px);
  }

  &--theme--red {
    background: red;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: red;
      background: #fff;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;

    &:hover {
      color: red;
    }
  }
}

.form__btns {
  
  @include tablets {
    display: flex;
    justify-content: center;
  }
}
