.features {
  display: flex;
}

.features__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.feature {
  display: flex;
}

.feature__icon{
  margin-right: 12px;
}

.feature__text {
  font-size: 16px;
  max-width: 114px;
}