.features {
  display: flex;
}

.features__item {
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }
}

.feature {
  display: flex;
}

.feature__icon{
  margin-right: rem(12px);
}

.eat-icon {
  width: rem(40px);
  height: rem(40px);
}

.battery-icon {
  width: rem(38px);
  height: rem(38px);
}

.fork-icon {
  width: rem(22px);
  height: rem(38px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(114px);
}