.hamburger {
  width: 24px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  z-index: 20;

  @include tablets {
    display:inline-flex;
    margin: 10px;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}