.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu {
  font-size: $baseFontSize - 3px;
  margin: rem(10px) rem(30px);
  

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(27px);
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: rem(18px);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-top: rem(8px);
}

.phone-icon {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}

.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number__icon-elem {
  margin-right: rem(6px);
  font-style: normal;
  font-weight: normal;
}

.phone-number__text {
  white-space: nowrap;
}