.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu__item {
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  margin-right: 6px;
  font-style: normal;
  font-weight: normal;
}


