.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: $baseFontSize - 3px;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu__item {
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: rem(18px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__phone-number {
  display: none;
}

.phone-number__icon-elem {
  margin-right: rem(6px);
  font-style: normal;
  font-weight: normal;
}