.headline {
  text-align: center;
  padding-bottom: rem(62px);
}

.headline__title {
  margin-bottom: rem(15px);
}

.headline__subtitle {
  font-size: rem(16px);
  color: #666;
  padding: rem(0px) 23%;
}