.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(00, 00, 00, .5);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal__active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background: #fff;
  width: rem(310px);
  height: rem(180px);
}

.modal__content {
  margin-bottom: rem(40px);
  font-size: 18px;
  color: #000000;
}

.modal__button-container {
  margin-bottom: rem(20px);
}

.input-error {
  border-color: hotpink;
}

.error-modal {
  color: red;
}
