.slider--section {
  background: #f8faf9;
}

.slider--container{
  position: relative;

  .bx-wrapper {
    border: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}

.slider__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowleft__img {
  margin-right: rem(33px);
  top: 0;
  left: 0;
  width: rem(14px);
  height: rem(27px);
}

.headphoness__img {
  margin-right: rem(59px);
  margin-left: rem(30px)
}

.settings-img {
  width: rem(91px);
  height: rem(91px);
  margin-bottom: rem(25px);
}

.slider__main-title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: rem(24px);
}

.slider__title-desc {
  font-size: rem(16px);
  color: #666666;
  margin-bottom: rem(27px);
}

.arrowright__img {
  width: rem(14px);
  height: rem(27px);
}