
.product-slider__arrow {
  position: absolute;
  background: url(../../img/arrowleft.png) center center no-repeat;
  background-size: contain;
  display: block;
  width: rem(14px);
  height: rem(27px);
  top: 50%;
  z-index: 100;
}

.product-slider__arrow--direction--prev {
  left: 0;
  
  @include tablets {
    left: 20%;
    top: 20%;
  }

  @include phones {
    left: 0;
  }
}
.product-slider__arrow--direction--next {
  right: 0%;
  transform: rotate(-180deg);

  @include tablets {
    right: 20%;
    top: 20%;
  }

  @include phones {
    right: 0;
  }
}