.slider__features {
  display: flex;
  list-style: none;
  margin-bottom: rem(24px);

  @include tablets {
    justify-content: center;
  }
}

.slider__features-item {
  margin-right: rem(86px);
}

.features-heading {
  font-size: 16px;
  color: #666;
}

.features__text {
  font-weight: bold;
}

.slider__price {
  display: flex;
  margin-right: rem(13px);
  
  @include tablets {
    justify-content: center;
    margin-right: rem(45px);
  }
  
}

.price__text {
  margin-right: 13px;
  font-size: rem(36px);

  @include tablets {
    margin-right: rem(50px);
  }
}
