.team {
  &--section{
    position: relative;
    
    &::before{
      content: url(../img/blacksquale.png);
      position: absolute;
      top: 0%;
      right: 15%;
    }
  }

  &__title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(48px);

    @include tablets {
      margin-bottom: rem(33px);
    }
  }

  &__list-desktop {
    display: flex;
    list-style: none;
    margin-top: rem(53px);
    align-items: center;
    justify-content: center;

    @include tablets {
      display: none;
    }
  }

  &__list-tablets {
    @include desktop {
      display: none;
    }
  }

  &__list-tablets {
    list-style: none;
    
  }
  &__item {
    align-items: center;
    justify-content: center;
    margin-right: rem(20px);
    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      margin-right: 0;
    }
  }
}

